
<html>
	<head>
	</head>
	<body>
    <input id="seed" placeholder="seed">
    <input type="button" value="go" onmousedown="go()">
    <script>function go() {window.location = window.location.origin+"/"+document.getElementById("seed").value}</script>
	</body>
</html>